.header {
  height: 80px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: #fff;
  text-wrap: nowrap;
  @media (max-width: 992px) {
    height: 60px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__wrapper {
    height: 100%;
    position: relative;
  }
  &._scroll {
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
    svg {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 1120px) {
      margin: 0 9px 0 0;
      width: 32px;
      height: 32px;
    }
    @media (max-width: 767px) {
      width: 28px;
      height: 28px;
    }
  }
  &__text {
    font-family: "Cuprum";
    color: var(--chocolate-color);
    font-size: 32px;
    line-height: calc(38.4 / 32);
    @media (max-width: 1120px) {
      font-size: 24px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
}
.menu {
  height: 100%;
  @media (max-width: 992px) {
    display: none;
  }
  &__list {
    height: 100%;
    display: flex;
    gap: 28px;
    @media (max-width: 1095px) {
      gap: 20px;
    }
    @media (max-width: 992px) {
      height: auto;
      padding: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #f6e6d9;
      border-bottom: 1px solid #f6e6d9;
      width: 100vw;
      padding: 32px 0;
    }
  }
  &__item {
    height: 100%;
    font-size: 16px;
    line-height: calc(24 / 16);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    a {
      color: #131313;
      flex: 1 1 100%;
      transition: color 0.3s ease 0s;
    }
    &::after {
      content: "";
      width: 100%;
      height: 6px;
      background-color: var(--carrot-color);
      position: absolute;
      left: 0;
      bottom: -6px;
      border-radius: 8px;
      transition: bottom 0.3s ease 0s;
      @media (max-width: 992px) {
        display: none;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        a {
          color: var(--carrot-color);
        }
      }
    }
    @media (max-width: 992px) {
      height: auto;
      margin: 0;
      font-size: 24px;
      font-family: "Cuprum";
      line-height: 28.4px;
      margin: 0 0 24px 0;
      &:last-child {
        margin: 0;
      }
    }
    &._active {
      a {
        color: var(--carrot-color);
      }
      &::after {
        bottom: -3px;
      }
    }
  }
}
.info-header {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media (max-width: 1145px) {
      gap: 12px;
    }
  }
  &__item {
    svg {
      display: block;
    }
    &_phone {
      font-family: "Cuprum";
      font-size: 20px;
      line-height: calc(24 / 20);
      a {
        color: #131313;
        transition: color 0.3s ease 0s;
      }
      @media (any-hover: hover) {
        &:hover {
          a {
            color: var(--carrot-color);
          }
        }
      }
      @media (max-width: 1250px) {
        display: none;
      }
      @media (max-width: 992px) {
        display: none;
      }
    }
    &_facebook {
      transition: transform 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }
    &_instagram {
      transition: transform 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }
    &_phone-icon {
      flex: 0 0 36px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #f6e6d9;
      align-items: center;
      justify-content: center;
      display: none;
      position: relative;
      transition: transform 0.3s ease 0s;
      a {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      svg {
        display: block;
      }
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
      @media (max-width: 1250px) {
        display: flex;
      }
    }
    &_button {
      @media (max-width: 992px) {
        margin: 0;
        padding: 0 15px;
        position: fixed;
        width: 100%;
        bottom: 32px;
        left: 100%;
        opacity: 0;
        transition: all 0.3s ease 0s;
        &._burger-active {
          left: 0;
          opacity: 1;
        }
      }
    }
  }
  &__button {
    @media (max-width: 992px) {
      width: 100%;
      text-align: center;
      font-size: 16px;
      padding: 12px 24px;
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: 992px) {
    display: block;
  }
  &__body {
    display: block;
    width: 36px;
    height: 36px;
    background-color: #f6e6d9;
    border-radius: 50%;
    position: relative;
    position: relative;
    span {
      width: 18px;
      height: 2px;
      background-color: var(--chocolate-color);
      border-radius: 4px;
      position: absolute;
      transition: all 0.3s ease 0s;
      &:first-child {
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
      }
      &:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      &:last-child {
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &._active {
      span {
        &:first-child {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
  &__menu {
    position: fixed;
    top: 60px;
    right: -100%;
    overflow: auto;
    width: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    &._active {
      right: 0;
      opacity: 1;
      visibility: visible;
    }
  }
  &__phone-body {
    padding: 20px 0;
    font-size: 24px;
    line-height: 1.2;
    font-family: "Cuprum";
    text-align: center;
    flex: 1 1 auto;
    a {
      color: var(--chocolate-color);
    }
  }
  &__button-body {
    padding: 0 16px 20px;
    a {
      padding: 12px 24px;
      font-size: 16px;
      width: 100%;
      text-align: center;
    }
  }
}
.im-sweets {
  &__item {
    display: flex;
    padding: 16px 16px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #f6e6d9;
    span {
      color: #131313;
      font-size: 24px;
      line-height: 1.2;
      font-family: "Cuprum";
    }
  }
}
.im-nav {
  border-top: 1px solid #f6e6d9;
  border-bottom: 1px solid #f6e6d9;
  padding: 20px 16px;
  li {
    margin: 0 0 20px 0;
    &:last-child {
      margin: 0;
    }
  }
  &__item {
    font-size: 16px;
    line-height: 1.5;
    color: #131313;
  }
}

.sweets {
  height: 100%;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  &::after {
    display: none;
  }
  @media (any-hover: hover) {
    &:hover {
      .sweets__arrow {
        transform: rotate(-90deg) translateY(-1.5px);
      }
    }
  }
  &._no-hover {
    &:hover {
      .sweets__arrow {
        transform: rotate(-180deg) translateY(-3px);
      }
    }
  }
  &__text {
    color: var(--carrot-color) !important;
  }
  &__arrow {
    transition: transform 0.3s ease 0s;
    &._active {
      transform: rotate(-180deg) translateY(-3px);
    }
  }
  &__menu-body {
    position: fixed;
    left: 0;
    top: -300px;
    width: 185px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #f6e6d9;
    overflow: hidden;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    &._active {
      top: 50px;
      opacity: 1;
      visibility: visible;
    }
  }
  &__menu {
    li {
      &:first-child {
        .sweets__menu-item {
          padding: 20px 20px 10px;
        }
      }
      &:last-child {
        .sweets__menu-item {
          padding: 10px 20px 20px;
        }
      }
    }
  }
  &__menu-item {
    color: #131313;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px;
    transition: background-color 0.3s ease 0s;
    span {
      transition: color 0.3s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: #fef1e6;
        span {
          color: var(--carrot-color);
        }
      }
    }
  }
}
